 <!-- Header -->


    <div class="header bg-gradient-primary  pt-5   ">
      <div class="container text-center text-white" style="font-weight: 900;">
        ARICE TRUST ADMIN PAGE
      </div>

      <div class="container-fluid mt-5 pb-5" >
        <div class="input-group mb-3" id="whatwedolist">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
